

@using DTO.Model;
@using BusinessLogic.BLL

@{
    @model Person

    var personBLL = new PersonBLL();


    ViewBag.Title = "PersonCreation";


    if (IsPost)
    {
        string personName = Request.Form["m.name"];


        <text>
            Du har skabt en person. Tillykke.
        </text>
    }
}


<h2>PersonCreation</h2>

@using (Html.BeginForm("AddPerson", "Person"))
{

    @Html.EditorFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)
    

    <button type="submit">Submit</button>
}

@using (Html.BeginForm("RemovePerson", "Person"))
            {


<button type="submit">Remove</button>

            }


<table>
    <tr>
        <th>
            @Html.DisplayName("ID")
        </th>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Actions")
        </th>
    </tr>
    @for (int i = 1; i <= @personBLL.getPersonRange(); i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(item => personBLL.getPerson(i).PersonId)
                    </td>
                    <td>
                        @Html.DisplayFor(item => personBLL.getPerson(i).Name)
                    </td>
                    <td>
                        @using (Html.BeginForm("RemovePerson", "Person"))
                        {

                            
                            <button type="submit">Remove</button>

                        }
                    </td>
                </tr>
            }

</table>
 
