@using DTO.Model;
@using BusinessLogic.BLL;

@{
    ViewBag.Title = "GroupCRUD";

    var group = Request.Form["Groups"];

    @model Group

    var groupBLL = new GroupBLL();
    var personBLL = new PersonBLL();

    if (IsPost)
    {


        <text>
            Du har skabt en gruppe. Tillykke.
        </text>
    }
}

<h2>GroupCRUD</h2>


@using (Html.BeginForm("AddGroup", "Group"))
{

    @Html.EditorFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)


    <button type="submit">Submit</button>
}



<select  name="Groups" size="@groupBLL.getGroupRange()">

    @foreach  (var e in groupBLL.GetGroups())
            {
    <option value="@e">
       ID: @e.GroupId - Name: @e.Name
    </option>
            }
</select>

<select name="Persons" size="@personBLL.getPersonRange()">
    @foreach(var e in personBLL.GetPeople())
            {
                <option value="@e">
                    ID: @e.PersonId - Name: @e.Name
                </option>
            }
</select>




